body {
  background-color: rgb(234,237,237);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form{
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 85px
}
.form label {
  margin: 0.5rem 0.5rem;
}
.form input{
    border-radius: 0.5rem !important;
    border: 0.1rem solid #a4a4a4 !important;
    padding: 8px 10px !important;
    font-family: Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;

}
.form>div {
  display: flex;
  flex-direction: column;
  margin: 0.1rem;
}
.form-btn{
  width: 15%;
  margin: auto;
}
.blockDisplay{
  display: block !important;
}